<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Carriera formativa e professionale</h2>
                <hr class="light">
                <p class="text-faded">Scopri di più sulla mia storia e sui miei progetti</p>
                <a href="https://ingmatteocavalleri.github.io/Carriera" class="btn btn-default btn-xl">Clicca qui</a>
            </div>
        </div>
    </div>
</section>
